
<p>
    <b>
        Es kam eine Anfrage über das Kontaktformular der Webseite.
    </b>
</p>
<br>
<p>
    <b>Daten:</b> 
    <br>
    <b>Vorname:</b> ### <br>
    <b>Nachname:</b> ### <br>
    <b>Email:</b> ### <br>
    <b>Telefonnummer:</b> ### <br>
    <b>Betreff:</b> ### <br>
    <b>Nachricht:</b> ###
</p>
<br>
<p>Viele Grüße, <br>Ihr Bot von Enval.</p>